body
{
	background-color:black;
	color:white;
}

form
{
	color:white;
}

input
{
	color:black;
}

canvas
{
	/* color:#fff; */
}

#axis
{
	/* color:#fff; */
	width:100%;
}

#main_form
{
	margin-bottom:20px;
}
